# LangChain Core
langchain
langchain-core

# LangChain Community (for PyPDFLoader)
langchain-community

# Hugging Face Integration
langchain-huggingface

# Streamlit UI
streamlit==1.52.2

# Environment Variable Management
python-dotenv